body{
    margin: 0;
    background-image: url("C:/Users/Comba/Downloads/5a55ab51-c948-4851-a152-d3815c3ece73.jpg");
    background-repeat: no-repeat,repeat ;
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-size: 2000px;
}
h1{
    text-align: center;
    margin: 0;
}
table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    font-size: 24px;
}
th, td{
    padding: 20px;
    border: 2px;
}
.Stars{
    font-size: 350%;
    cursor: pointer;
    color: gray;
    margin: 0;
    transition: color 0.3s ease;
}


th{
    font-size: 30px;
    color: aliceblue;
}

td{
    font-size: 24px;
}
.Comment{
    font-size: 50px;
    width: 90%;
    height: 200px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    display: block;
}
.Submit{
    border: 0;
    font-size: 50px;
    width: 100%;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin: 20px auto;
}
.clock, .text{
    font-size: 30px;
    margin: 0;
    margin-top: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.gold{
    color: gold;
}